/*Body*/
body {
 margin:1em;
}

iframe {
 border: 1px solid black;
 border-radius: 5px;
 height: 500px;
 width: 500px;
 resize: both;
 overflow: auto;

}

a {
font-weight: bold;
color:#3e6fad;
}
a:hover {
color:#2b4d78;
}
a:active {
color:#076ae8;
}

img {
user-drag: none; 
user-select: none;
-moz-user-select: none;
-webkit-user-drag: none;
-webkit-user-select: none;
-ms-user-select: none;
}

Button {
	background-color:#2d3142;
	border-radius:4px;
	border:1px solid #1c2c6b;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	font-weight:bold;
	padding:6px 12px;
	text-decoration:none;
}
Button:hover {
	background-color:#0d0f17;
}
Button:active {
	position:relative;
	top:1px;
}


input {
	background-color:#dbdbdb;
	border-radius:4px;
	border:1px solid #737373;
	display:inline-block;
	cursor:text;
	color:#000000;
	font-family:Arial;
	font-size:13px;
	padding:6px 12px;
	text-decoration:none;
}
input:hover {
	background-color:#d1d1d1;
}
input:active {
	position:relative;
	top:1px;
}

        
